body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'note-tracker-icon-font';
  src:  url('./Fonts/note-tracker-icon-font.eot?d4fzog');
  src:  url('./Fonts/note-tracker-icon-font.eot?d4fzog#iefix') format('embedded-opentype'),
    url('./Fonts/note-tracker-icon-font.ttf?d4fzog') format('truetype'),
    url('./Fonts/note-tracker-icon-font.woff?d4fzog') format('woff'),
    url('./Fonts/note-tracker-icon-font.svg?d4fzog#note-tracker-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
